<div id="Catalogo" class="p-5">
  <div class="container">
    <hr>
    <div class="row">
      {{#each productos}}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
        <div class="card">
          <h6 class="card-title">{{this.category}}</h6>
          <img class="card-img-top" src="{{this.url_image}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <b class="card-text">$ {{this.price}}</b>
            <a href="/producto/{{this.id}}"><i class="fas fa-shopping-cart"></i></a> 
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-2">
  <nav aria-label="Page navigation example ">
    <ul class="pagination">
      <li class="page-item" id="prev">
        <a class="page-link " href="/?pag={{prev pag}}">Anterior</a>
      </li>
      <li class="page-item" id="next">
        <a class="page-link " href="/?pag={{next pag pageQ}}">Siguiente</a>
      </li>
    </ul>
  </nav>
</div>

<script>
  const pageQ = {{ pageQ }};
  const page = {{ pag }};
  for (let i = 1; i <= pageQ; i++) {
    $("#next").before(
      i == page ? `
              <li class="page-item bg-dark">
                <a class="page-link text-white" href="/?pag=${i}">${i}</a>
              </li>
             ` :
        `
              <li class="page-item">
                <a class="page-link" href="/?pag=${i}">
                  ${i}
                </a>
              </li>
             `
    )
  }
</script>