<div class="row p-5">
    <div class="col-6">

        <img src="{{producto.url_image}}" class="img-fluid" alt="">

    </div>

    <div class="col-6">
        <p> Categoría: {{producto.category}}</p>
        <p> Descripción: {{producto.name}}</p>
        <p> Porcentaje descuento: {{producto.discount}} %</p>
        <h4> Precio: $ {{producto.price}}</h4>
    </div>
</div>

<button onclick="addToCart()" {{#unless producto.stock }} disabled {{/unless}} type="submit"
    class="btn btn-primary d-block mx-auto mt-5">Agregar al carrito</button>

<script>

    const producto = JSON.parse('{{{productoData}}}')
    const addToCart = () => {

        let carrito = JSON.parse(localStorage.getItem("carrito")) || []
        const exists = carrito.some(p => p.id == producto.id)
        if (carrito.length > 0 && exists) {
            carrito = carrito.map(p => {
                if (p.id == producto.id) {
                    p.cant++;
                    p.total = p.cant * p.price
                }
                return p
            })
        } else {
            producto.cant = 1
            producto.total = producto.price
            carrito.push(producto)
        }
        localStorage.setItem("carrito", JSON.stringify(carrito))
    }
</script>