<div class="row p-5">
    <div class="col-6">
        <img src="{{producto.url_image}}" class="img-fluid" alt="">
    </div>
    <div class="col-6">
        <p> Categoría: {{producto.category}}</p>
        <p> Descripción: {{producto.name}}</p>
        <p> Porcentaje descuento: {{producto.discount}} %</p>
        <h4> Precio: $ {{producto.price}}</h4>
    </div>
</div>

<button onclick="addToCart()"  type="submit"
    class="btn btn-primary d-block mx-auto mt-5">Agregar al carrito</button>

<script>

    const producto = JSON.parse('{{{productoData}}}')
    const addToCart = () => {

    } 
</script>